# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
*.apk
*.aab
build/
.gradle/
local.properties
*.keystore
!debug.keystore

# iOS
Pods/
*.ipa
DerivedData/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
